.material-icons {
  padding-right: 8px;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
	background-color: #181819;
}

.app{
  display: flex;
}

.sidebar{
  min-width: 300px;
  background-color: #181819;
}

.header{
  padding-top: 2px;
  width: 100%;
  display: flex;
  height: 70px;
  align-items: center;
  background-color: #181819;
  justify-content: space-between;
}

.main{
  width: 100%;
}

hr {
  border: 0px;
  height: 1px;
  background-color: #efefef;
}

.button{
  background-color: #2B45AC;
  background-image: none;
  text-transform: uppercase;
  border: solid 1px #2B45AC;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.button:hover{
  background-color: #3454D1;
  border: solid 1px #3454D1;
}

.auth-form{
  background-color: #333;
  padding: 20px;
  border-radius: 4px;
  color: white;
  width: 500px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, .8);
}

.auth-form .button{
  margin-top: 10px;
  width: 100%;
  padding: 10px 0px;
}

.auth-form h1{
  font-size: 21px;
  margin: 0px 0px 20px 0px;
  text-transform: uppercase;
  font-weight: 600;
}

.auth-form .form-group{
  margin: 10px 0px;
}

.auth-form .form-group input{
  padding: 10px 15px;
  border: #181819 solid 2px;
  background-color: #181819;
  font-weight: 500;
  font-size: 16px;
  box-sizing : border-box;
  width: 100%;
  color: white;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.close {
  margin-top: 2px;
  padding: 2px;
  background-color: #2B45AC;
  border-radius: 50%;
  cursor: pointer;
}

.error {
  margin-top: 4px;
  margin-bottom: 4px;
  color: red;
}

.login-user{
  padding-right: 20px;
  flex: 1;
  text-align: right;
}

.login-user .button{
  margin-left: 15px;
}

.sidebar.show{
  display: block;
  position: absolute;
  z-index: 1;
  height: 100%;
}

.recent-movies{
  display: flex;
  flex-wrap: wrap;
  background: #181819;
}

.recent-movies-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.recent-movie{
  flex-basis: 200px;
  text-align: center;
  padding: 16px;
}

img.recent-movie-poster{
  opacity: 1;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.05s;
	transform: perspective(1000px) translate3d(0,0,0);
}

.recent-movie:hover img.recent-movie-poster{
  opacity: .85;
	transform: perspective(1000px) translate3d(0,0,21px);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, .4);
  backface-visibility: hidden;
  -webkit-filter: blur(0);
}

.menu {
    display: none;
    cursor: pointer;
    margin-left: 20px;
}
.change.menu{
    margin-left: 0px;
    margin-right: 20px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.actor{
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
}
.actor-image{
  flex: 1;
}

.movie{
  flex-direction: column;
  display: flex;
}

.movie-header{
  display: flex;
  position: relative;
}

.movie-header-backdrop:before{
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: #181819;
}

.movie-header-backdrop{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

.movie-header-content{
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0px;
  display: flex;
}

.movie-header-content h4{
  margin: 0px 0px 5px 0px;
}

.movie-header-info{
  flex: 1;
  padding-left: 40px;
  color: white;
}

.movie-sub-content{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: #181819;
}

.blank-profile{
  width: 66px;
  height: 66px;
  background-color: white;
  border-radius: 50px;
  margin: 0 auto;
}

.name-title{
  font-weight: 500;
  color: white;
  margin: 0px;
}

.credits{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.crew{
  flex: 2;
}

.cast{
  margin-left: 20px;
  flex: 5;
}

.plot p{
  font-size: 18px;
  font-weight: 300;
}

.profile{
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
}

.profile-image{
  flex: 1;
}

.profile-name{
  flex: 2;
  text-align: left;
  margin-left: 20px;
}

.name-title-sub{
  margin: 0px;
  color: white;
}

.movie-content{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.movie-sub-credits{
  display: flex;
}

.movie-backdrop{
  height: 300px;
  position: relative;
}

.movie-media{
  flex-basis: 350px;
}

.movie-content{
  margin-top: 30px;
  flex: 9;
  display: flex;
  flex-wrap: wrap;
}

.movie-info{
  width: 100%;
  flex-direction: column;
}

.movie-profile-img{
  border-radius: 40px;
}

.cast p{
  margin: 0px;
}

.cast-group{
  flex: 1;
  margin-left: 20px;
}

.movie-attributes{
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

h4.info-title{
  text-transform: uppercase;
  color: white;
  font-weight: 500;
}

.movie-watchBtn{
  margin-top: 30px;
}

.movie-poster{
  position: relative;
  flex-basis: 300px;
}

img.movie-poster-img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.movie-title h1{
  font-size: 36px;
  position: relative;
  font-weight: 600;
  margin: 0px;
}

.movie-title .year{
  margin-top: 0;
  font-weight: 600;
  font-size: 24px;
  position: relative;

}

.runtime{
  display: flex;
  align-content: center;
   margin-right: 15px;
   text-transform: uppercase;
}
.runtime h4{
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

.top-results{
  background-color: white;
}

.top-results p{
  padding-left: 10px;
}

.movie-list{
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  max-height: 520px;
  overflow-y: scroll;
  width: 390px;
  background-color: #181819;
}

.movie-module-wrapper{
  background-color: white;
  display: block;
  padding: 13px 10px 10px 10px;
  color: white;
}

.movie-module-wrapper:hover{
  background-color: gray;
  color: white;
}

.movie-module-wrapper:hover .module-title h4{
  color: white;
}

a.movie-module{
  text-decoration: none;
}

.module-poster{
  overflow: hidden;
  width: 65px;
  display: block;
  float: left;
}

img.module-poster-img{
  width: 100%;
}

.module-poster-img-placeholder{
  width:100%;
  height:100%;
}

.module-title{
  width: 200px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  height: 100px;
}

.module-title h4{
  margin: 0px;
  font-size: 13px;
  font-weight: 400;
  color: #181819;
}

.search-field{
    display: flex;
    border: #181819;
    color: white;
}

.search-field input{
  margin: 0;
  color: white;
  border: solid 0px transparent;
  height: 100%;
  box-sizing : border-box;
  background-color: #181819;
  font-weight: 400;
  font-size: 16px;
  width: 334px;
}

.search-field input::placeholder {
  color: #666;
}

.moviedb{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.user{
  display: flex;
  background-color: #181819;
  color: white;
  padding: 0px 0px 0px 20px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.sidebar-title a{
  margin-left: 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.sidebar-title a:hover{
  background-color: #181819;
  color: #3454D1;
}

.sidebar-title h2{
  padding-left: 4px;
}

.watchlist-title h2{
  padding-left: 18px;
  padding-bottom: 8px;
  color: #666;
  font-weight: 400;
  font-size: 16px;
  background-color: #181819;
  margin: 0px;
}

.moviedb ul{
  margin: 0px;
  padding: 0px;
}

.moviedb ul li a{
  text-decoration: none;
  color: white;
  flex-grow: 1;
  padding: 10px;
}

.moviedb ul li:hover{
  cursor: pointer;
  background-color: #181819;
}

.login-user-mobile{
  display: none;
}

.watchlist-module{
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #181819;;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.watchlist-module p {
  margin: 0;
  display: flex;
  align-items: center;
}

.watchlist-module i {
  color: #2B45AC;
}

@media screen and (max-width: 950px){
  .login-user-mobile{
    display: block;
  }

  .login-user-mobile .button{
    width: 100%;
    display: block;
    border-radius: 0px;
    padding: 10px 20px;
    text-align: left;
    border-bottom: #181819 solid 1px;
  }

	.search-field input{
			 color: white;
			 padding-left: 20px;
			 border: solid 0px transparent;
			 height: 100%;
			 box-sizing : border-box;
			 background-color: #181819;
			 font-weight: 400;
			 font-size: 16px;
			 width: 100%;
	 }
}

@media screen and (max-width: 520px){
  .movie-list{
    position: absolute;
    max-height: 100%;
    overflow-y: scroll;
    width: 100%;
    left: 0;
    right: 0px;
    top: 70px;
  }

	.auth-form{
    width: 230px;
  }
}

@media screen and (max-width: 950px){
  .menu{
    display: block;
  }

	.sidebar{
    display: none;
  }

	.login-user{
    display: none;
  }

	.Movie-Search{
    flex: 1;
    margin: 0px 20px;
  }

	.movie-sub-credits{
    flex-direction: column;
    display: block;
  }

	.movie-rec-poster{
    height: 165px
  }
}


@media screen and (max-width: 1020px){
  img.movie-poster-img{
    max-width: 405px;
    margin-bottom: 30px;
  }

	.movie-header-content{
    flex-direction: column;
    display: block;
  }

	.movie-header-info{
    padding-left: 0px;
  }
}

@media screen and (max-width: 1430px){
  .movie-header-content{
    width: 100%;
    padding: 20px 20px;
  }

	.movie-header-content{
    padding-bottom: 50px;
  }

	.movie-sub-content{
    display: block;
    width: 100%;
    flex-direction: column;
  }

	img.movie-poster-img{
    width: 90%;
  }

	.movie-rec{
    justify-content: center;
  }

	.movie-single-rec{
    flex-basis: 300px;
    text-align: center;
    margin: 10px 10px 0px 10px;
  }

	.movie-rec-poster{
    height: 165px
  }

	.movie-sub-credits{
    padding-right: 0px;
  }
}
